%p
  Hello world.  
%p
  I'm Dan, a developer of applications which expose data to the web.
%p
  Most of my experience is with Ruby on Rails and RDBMS technology like Oracle, Postgres, and MySQL.
%p
  I launched this site to expand the general MongoDB-knowledge-base.
%p
  MongoDB is a type of "NoSQL" software:

%a(href='http://en.wikipedia.org/wiki/NoSQL' target='w')
  http://en.wikipedia.org/wiki/NoSQL

%p
  If you are a developer interested in using MongoDB, you could divide your MongoDB-knowledge-base into these areas:

%ul
  %li Installation
  %li External Operations (Startup, Shutdown, Backup, Recovery for example)
  %li Internal Operations (Management of internal objects)
  %li Connecting your software to MongoDB API
  %li Community (Forums, E-Mail Lists, Meetups, Conferences)
  %li Documentation (Reference, Tutorials, Change Logs, Release Notes, Blogs)

%p
  My goal is to make this site a component within your MongoDB-knowledge-base

%p
  If you have questions, E-Mail me: 
  %span.mongo_green.has_brown_border dan@bot4.us

%img(src="/assets/danbikle.jpeg")

    
