
%p This site was created on 2012-04-17 and is currently under construction.

%p
  I intend to fill it with two types of information about MongoDB.
%p
  This site will give you links to technical information and notes from my interactions with MongoDB technology.

%p
  If you have questions, E-Mail me: 
  %span.mongo_green.has_brown_border dan@bot4.us

    
