.mongo_brown {color: #4C3A2C;}
.mongo_green {color: #009100;}
.mongo_bgc {background-color: #F3F4EB;}
.bg_white {background-color: white;}
.bold {font-weight:bold;}
.has_brown_border     {border: 1px solid #4C3A2C;}
.has_green_border     {border: 1px solid #009100;}
.has_green_border_2px {border: 2px solid #009100;}
.padding10 {padding: 10px;}
.margin10  {margin:  10px;}

a {
  color: #009100;
  &:visited {color: 009100;}
  &:hover {color: black;background-color: white;}
}

.allows_others_inline {display: inline;}

.blocks_others {display: block;}

.float_left {float:left;}

.vertical_align_bottom {vertical-align: bottom;}
.vertical_align_top {vertical-align: top;}
